:root {
  /* colores */
  --rojo: hsl(322, 100%, 66%);
  --azul: hsl(193, 100%, 96%);
  --azul-oscuro: hsl(192, 100%, 9%)
  --gris:hsl(208, 11%, 55%);

  /* fuentes */
  --font-size: 18px;
  --body: 'Open Sans', sans-serif;
  --headings: 'Poppins', sans-serif;
  

  /* medias */
  --mobile: 375px;
  --desktop: 1440px;
}

/* Reset */

html.html {
  font-size: 62.5%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 

}

.body {
  font-family: var(--body);
  overflow-x: hidden;
}

/* header */ 

.header {
  background-color: var(--azul);
  height: 100vh;
}

.nav {
  padding: 30px 20px;
}

.nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-ul__li {
  list-style: none;
  flex: 1;
}

.nav-image {
  width: 50%;
}

.nav-ul__li--button {
  padding: 5px 10px;
  width: 70%;
  border-radius: 50px;
  border: none;
  font-family: var(--headings);
  background-color: white;
}

.nav-ul__li2 {
  text-align: right;
}

.nav-ul__li--button:hover {
  cursor: pointer;
}

/* section info */

.main__info {
  text-align: center;
  margin: 70px 0; 
  height: 100%;
  padding: 0 70px;
}

.info-title, .info-pgrap, .info-button {
  margin-bottom: 30px;
}

.info-title {
  font-size: calc(var(--font-size) + 3px);
}

.info-pgraph {
  font-size: calc(var(--font-size) - 2px);
}

.info-button {
  margin-top: 30px;
  padding: 10px 50px;
  border-radius: 50px;
  background-color: var(--rojo);
  color: white;
  border: none;
}

.info__img--img {
  width: 100%;
  margin-top: 10px;
}
